[Desktop Entry]
#FIXME: come up with a better name.
Name=Multi-Chat Widget
Name[da]=Multichat-widget
Name[el]=Γραφικό συστατικό πολυμερούς συνομιλίας
Name[hu]=Többchates widget
Name[it]=Oggetto per chat diverse
Name[nl]=Multi-chat-widget
Name[pt]=Item Multi-Conversa
Name[pt_BR]=Widget multi-conversa
Name[sv]=Grafisk komponent för flera chattar
Name[uk]=Віджет спілкування з декількома співрозмовниками
Name[x-test]=xxMulti-Chat Widgetxx
Comment=This is a plasmoid that behaves like facebook chat or google talk.
Comment[da]=Dette er en plasmoid som opfører sig ligesom Facebook-chat eller Google Talk.
Comment[el]=Αυτό είναι ένα πλασμοειδές που συμπεριφέρεται όπως το facebook chat ή το google talk.
Comment[hu]=Ez a plazmoid úgy működik, mint a Facebook chat vagy a Google Talk.
Comment[it]=Questo oggetto di Plasma si comporta come la chat di Facebook o di Google Talk.
Comment[nl]=Dit is een plasmoid die zich gedraagt als facebook-chat of google-talk.
Comment[pt]=Isto é um plasmóide que se comporta como na conversa do Facebook ou do Google Talk.
Comment[pt_BR]=Isto é um plasmoide que se comporta como o bate-papo do Facebook ou do Google Talk.
Comment[sv]=En plasmoid som beter sig som chatt på Facebook eller Google Talk.
Comment[uk]=Плазмоїд, який працює у спосіб, подібний до вікон спілкування Facebook або Google.
Comment[x-test]=xxThis is a plasmoid that behaves like facebook chat or google talk.xx
Icon=kde-telepathy

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,68
X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
# X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=org.kde.ktp-chatplasmoid
X-KDE-PluginInfo-Version=0.1

# X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
#X-KDE-ServiceTypes=Plasma/PopupApplet
X-KDE-ServiceTypes=Plasma/Applet

#not entirely sure why this is there, I just know everything implodes without it
Type=Service
