[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ktptextui_message_filter_emoticons
X-KDE-ParentApp=emoticons
X-KDE-ParentComponents=emoticons

Name=Emoticons
Name[bs]=Emotikoni
Name[ca]=Emoticones
Name[ca@valencia]=Emoticones
Name[cs]=Emotikony
Name[da]=Emotikoner
Name[de]=Emoticons
Name[el]=Emoticons
Name[en_GB]=Emoticons
Name[es]=Emoticonos
Name[et]=Emotikonid
Name[fi]=Hymiöt
Name[fr]=Émoticônes
Name[ga]=Straoiseoga
Name[gl]=Emoticonas
Name[hu]=Hangulatjelek
Name[ia]=Emoticones
Name[it]=Emoticon
Name[kk]=Көңіл күйі белгілері
Name[ko]=이모티콘
Name[lt]=Jaustukai
Name[mr]=भावप्रतिमा
Name[nb]=Humørfjes
Name[nds]=Snuten
Name[nl]=Emoticons
Name[nn]=Fjesingar
Name[pa]=ਈਮੋਸ਼ਨ
Name[pl]=Emotikony
Name[pt]=Ícones Emotivos
Name[pt_BR]=Emoticons
Name[ro]=Emoticoni
Name[ru]=Смайлики
Name[se]=Mojánat
Name[sk]=Emotikony
Name[sl]=Izrazne ikone
Name[sr]=Емотикони
Name[sr@ijekavian]=Емотикони
Name[sr@ijekavianlatin]=Emotikoni
Name[sr@latin]=Emotikoni
Name[sv]=Smilisar
Name[tr]=İfadeler
Name[ug]=چىراي ئىپادىلىرى
Name[uk]=Емоційки
Name[wa]=Xhinêyes
Name[x-test]=xxEmoticonsxx
Name[zh_CN]=表情符号
Name[zh_TW]=表情圖示
