[Desktop Entry]
Name=Emoticons
Name[ca]=Emoticones
Name[cs]=Emotikony
Name[da]=Emotikoner
Name[de]=Emoticons
Name[el]=Emoticons
Name[es]=Emoticonos
Name[et]=Emotikonid
Name[fi]=Hymiöt
Name[ga]=Straoiseoga
Name[it]=Emoticon
Name[nl]=Emoticons
Name[nn]=Fjesingar
Name[pl]=Emotikony
Name[pt]=Ícones Emotivos
Name[pt_BR]=Emoticons
Name[ro]=Emoticoni
Name[se]=Mojánat
Name[sk]=Emotikony
Name[sr]=Емотикони
Name[sr@ijekavian]=Емотикони
Name[sr@ijekavianlatin]=Emotikoni
Name[sr@latin]=Emotikoni
Name[sv]=Smilisar
Name[uk]=Емоційки
Name[x-test]=xxEmoticonsxx
Name[zh_TW]=表情圖示
Encoding=UTF-8
Comment=Show emoticons (smiley faces) inside the chat
Comment[ca]=Mostra les emoticones (cares somrients) dins del xat
Comment[cs]=Zobrazit emotikony (smějící se obličeje) v rozhovoru
Comment[da]=Vis emotikoner (smileys) i chatten
Comment[el]=Να εμφανίζονται τα emoticons (γελαστά πρόσωπα) μέσα στη συνομιλία
Comment[es]=Mostrar emoticonos (caras sonrientes) dentro del chat
Comment[et]=Emotikonide (naerunägude) näitamine vestluses
Comment[fi]=Näytä hymiöt (hymynaamat) chatissä
Comment[it]=Mostra emoticon (faccine) nella chat
Comment[nl]=Emoticons tonen (lachende gezichtjes) in de chat
Comment[pl]=Pokaż emotikony (buźki) wewnątrz okna rozmowy
Comment[pt]=Mostrar os ícones emotivos (sorrisos) dentro da conversa
Comment[pt_BR]=Mostra emoticons (carinhas) no interior do bate-papo
Comment[ro]=Arată emoticoni (fețe zîmbitoare) în interiorul discuției
Comment[sk]=Zobraziť emotikony (smajlíkov) v rozhovore
Comment[sr]=Приказ емотикона (смешкова) унутар ћаскања
Comment[sr@ijekavian]=Приказ емотикона (смешкова) унутар ћаскања
Comment[sr@ijekavianlatin]=Prikaz emotikona (smeškova) unutar ćaskanja
Comment[sr@latin]=Prikaz emotikona (smeškova) unutar ćaskanja
Comment[sv]=Visa smilisar inne i chatten
Comment[uk]=Показувати емоційки (смайлики) у вікні спілкування
Comment[x-test]=xxShow emoticons (smiley faces) inside the chatxx
Comment[zh_TW]=在聊天中顯示表情圖示（笑臉符號等）
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_emoticons
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=emoticons
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
