[Desktop Entry]
Name=Emoticons
Name[it]=Emoticon
Name[nl]=Emoticons
Name[pt]=Ícones Emotivos
Name[pt_BR]=Emoticons
Name[sv]=Smilisar
Name[uk]=Емоційки
Name[x-test]=xxEmoticonsxx
Encoding=UTF-8
Comment=//TODO:.
Comment[da]=//TODO:.
Comment[el]=//TODO:.
Comment[es]=//PENDIENTE:.
Comment[et]=//TODO:.
Comment[fr]=//À FAIRE :.
Comment[hu]=//Tennivaló:.
Comment[it]=//TODO:.
Comment[km]=//TODO:.
Comment[lt]=//Atlikti:.
Comment[nl]=//TE DOEN:.
Comment[pt]=//POR FAZER:.
Comment[pt_BR]=//A FAZER:.
Comment[sk]=//TODO:.
Comment[sr]=//УРАДИТИ:.
Comment[sr@ijekavian]=//УРАДИТИ:.
Comment[sr@ijekavianlatin]=//URADITI:.
Comment[sr@latin]=//URADITI:.
Comment[sv]=// ATT GÖRA:.
Comment[uk]=//ЗАВДАННЯ:.
Comment[x-test]=xx//TODO:.xx
Comment[zh_TW]=//TODO:.
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_emoticons
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=emoticons
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
