<?xml version="1.0" encoding="UTF-8"?>
<gui name="ktp-text-ui"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="file" />
  </MenuBar>

 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="edit_find"/>
  <Separator />
  <Action name="invite-to-chat"/>
  <Action name="audio-call"/>
  <Action name="video-call"/>
  <Separator />
  <Action name="send-file"/>
  <Action name="share-desktop"/>
  <Separator />
  <Action name="language"/>
 </ToolBar>

 <ToolBar noMerge="1" name="accountIconToolBar">
  <text>Account Icon Toolbar</text>
  <Action name="account-icon" />
 </ToolBar>

</gui>
