<?xml version="1.0" encoding="UTF-8"?>
<gui name="ktp-text-ui"
     version="9"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

 <MenuBar>
  <Menu name="file" deleted="true"/>
  <Menu name="conversation" append="first_menu"><text>&amp;Conversation</text>
   <Action name="invite-to-chat"/>
   <Action name="leave-chat"/>
   <Separator/>
   <Action name="clear-chat-view"/>
   <Action name="open-log"/>
   <separator/>
   <Action name="contact-info"/>
   <Separator/>
   <Action name="file_close"/>
   <Action name="file_quit"/>
  </Menu>
  <Menu name="edit"/>
  <Menu name="actions"><text>&amp;Actions</text>
   <Separator />
   <Action name="audio-call"/>
   <Action name="video-call"/>
   <Action name="send-file"/>
   <Action name="share-desktop"/>
   <Action name="collaborate-document"/>
   <Separator />
   <Action name="block-contact"/>
   <Separator />
   <Action name="otr-actions"/>
  </Menu>
  <Menu name="settings"/>
  <Menu name="help"/>
 </MenuBar>

 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="audio-call"/>
  <Action name="video-call"/>
  <Action name="send-file"/>
  <Action name="collaborate-document"/>
  <Separator />
  <Action name="edit_find"/>
  <Separator />
  <Action name="otr-actions"/>
 </ToolBar>

 <ToolBar hidden="true" newline="false" noEdit="true" noMerge="1" name="accountIconToolBar">
  <text>Account Icon Toolbar</text>
  <Action name="account-icon"/>
 </ToolBar>

 <ToolBar hidden="true" newline="true" fullWidth="true" noEdit="true" noMerge="1" position="bottom" name="languageToolBar">
  <text>Language Toolbar</text>
  <Action name="language"/>
 </ToolBar>

 <ToolBar hidden="true" newline="true" fullWidth="true" noEdit="true" noMerge="1" position="bottom" name="emoticonsToolBar">
  <text>Smiley Toolbar</text>
  <Action name="emoticons"/>
 </ToolBar>

</gui>

