[Desktop Entry]
Encoding=UTF-8
Name=Text Formatting
Name[cs]=Formátování textu
Name[da]=Tekstformatering
Name[el]=Διαμόρφωση κειμένου
Name[hu]=Szövegformázás
Name[it]=Formattazione del testo
Name[nl]=Opmaken van tekst
Name[pt]=Formatação do Texto
Name[pt_BR]=Formatação do texto
Name[sv]=Textformatering
Name[uk]=Форматування тексту
Name[x-test]=xxText Formattingxx
Comment=Use /, _, * and - to make text italic, underlined, bold or strikeout respectively
Comment[cs]=Použít /,_, * a - pro kurzívu, podtržený, tučný a přeškrtnutý text
Comment[da]=Brug _, * og - til at lave hhv. kursiv, understreget, fed eller overstreget
Comment[el]=Χρησιμοποιήστε /, _, * και - για πλάγιους, υπογραμμισμένους, έντονους ή με επιγράμμιση χαρακτήρες αντίστοιχα
Comment[hu]=A /, _, * és - használatával teheti a szöveget döntötté, aláhúzottá, félkövérré vagy áthúzottá
Comment[it]=Usa /, _, * e - per rendere il testo rispettivamente corsivo, sottolineato, grassetto o barrato
Comment[nl]=Gebruik /, _, * and - om tekst respectievelijk cursief, onderlijnt, vet of doorgestreept te maken
Comment[pt]=Usar o '/', '_', '*' e '-' para tornar o texto itálico, sublinhado, negrito ou traçado, respectivamente
Comment[pt_BR]=Use /, _, * e - para tornar o texto em itálico, sublinhado, negrito ou riscado, respectivamente
Comment[sv]=Använd /,_, * och - för att antingen visa texten kursiv, understruken, med fetstil eller överstruken
Comment[uk]=Використовувати /, _, * і - для курсиву, підкресленого, напівжирного та перекресленого тексту, відповідно
Comment[x-test]=xxUse /, _, * and - to make text italic, underlined, bold or strikeout respectivelyxx
Comment[da]=Brug _, * og - til at gøre tekst hhv. kursiv, fed eller gennemstreget
Comment[el]=Χρησιμοποιήστε _, * και - για πλάγιους, έντονους ή με επιγράμμιση χαρακτήρες αντίστοιχα
Comment[it]=Usa _, * e - per rendere il testo rispettivamente corsivo, grassetto o barrato
Comment[pl]=Użyj odpowiednio _, * i - aby tekst był napisany kursywą, pogrubiony lub przekreślony
Comment[pt]=Usar o _, * e o - para tornar o texto itálico, negrito ou traçado, respectivamente
Comment[sr]=Користите _, * и - за курзив, подебљано и прецртано
Comment[sr@ijekavian]=Користите _, * и - за курзив, подебљано и прецртано
Comment[sr@ijekavianlatin]=Koristite _, * i - za kurziv, podebljano i precrtano
Comment[sr@latin]=Koristite _, * i - za kurziv, podebljano i precrtano
Comment[zh_TW]=用 _  * 與 - 等符號來表示斜體、粗體與加上刪除線的文字
Type=Service
ServiceTypes=KTpTextUi/MessageFilter
X-KDE-Library=ktptextui_message_filter_formatting
X-KDE-PluginInfo-Author=KDE Telepathy Developers
X-KDE-PluginInfo-Email=kde-telepathy@kde.org
X-KDE-PluginInfo-Name=formatting
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
