[Desktop Entry]
Encoding=UTF-8
Name=Google Talk Style Formatting
Name[ca]=Formatació seguint l'estil de Google Talk
Name[cs]=Formátovat stylem Google Talk
Name[el]=Στιλ διαμόρφωσης Google Talk
Name[es]=Formato de estilo Google Talk
Name[fi]=Google Talkin tapainen muotoilu
Name[it]=Formato stile Google Talk
Name[nl]=Opmaak volgens de stijl van Google-Talk
Name[pt]=Estilo de Formatação do Google Talk
Name[pt_BR]=Formatação no estilo do Google-Talk
Name[sk]=Formátovanie štýlom Google Talk
Name[sr]=Форматирање у стилу Гугл‑разговора
Name[sr@ijekavian]=Форматирање у стилу Гугл‑разговора
Name[sr@ijekavianlatin]=Formatiranje u stilu Google-razgovora
Name[sr@latin]=Formatiranje u stilu Google-razgovora
Name[sv]=Formatering enligt Google-talk
Name[uk]=Форматування у стилі Google-Talk
Name[x-test]=xxGoogle Talk Style Formattingxx
Comment=Use _, * and - to make text italic, bold or strikeout respectively
Comment[ca]=Usa _, * and - per convertir el text a itàlic, negreta o tatxat respectivament
Comment[cs]=Použít _, * a - pro kurzívu, tučný a přeškrtnutý text
Comment[el]=Χρησιμοποιήστε _, * και - για πλάγιους, έντονους ή με επιγράμμιση χαρακτήρες αντίστοιχα
Comment[es]=Utilizar _, * y - para poner el texto en cursiva, negrita o tachado respectivamente
Comment[it]=Usa _, * e - per rendere il testo rispettivamente corsivo, grassetto o barrato
Comment[nl]=Gebruik _, * and - om tekst respectievelijk cursief, vet of doorgestreept te maken
Comment[pt]=Usar o _, * e o - para tornar o texto itálico, negrito ou traçado, respectivamente
Comment[pt_BR]=Use _, * e - para tornar o texto em itálico, negrito ou riscado, respectivamente
Comment[sk]=Použite _, * a - na zmenu textu na kurzívu, tučné alebo prečiarknuté
Comment[sr]=Користите _, * и - за курзив, подебљано и прецртано
Comment[sr@ijekavian]=Користите _, * и - за курзив, подебљано и прецртано
Comment[sr@ijekavianlatin]=Koristite _, * i - za kurziv, podebljano i precrtano
Comment[sr@latin]=Koristite _, * i - za kurziv, podebljano i precrtano
Comment[sv]=Använd _, * och - för att antingen visa texten kursiv, med fetstil eller överstruken
Comment[uk]=Використовувати _, * і - для курсиву, напівжирного та перекресленого тексту, відповідно
Comment[x-test]=xxUse _, * and - to make text italic, bold or strikeout respectivelyxx
Type=Service
ServiceTypes=KTpTextUi/MessageFilter
X-KDE-Library=ktptextui_message_filter_formatting
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=formatting
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
