[Desktop Entry]
Encoding=UTF-8
Name=Google Talk Style Formatting
Name[cs]=Formátovat stylem Google Talk
Name[da]=Google Talk-stilformatering
Name[el]=Διαμόρφωση του στιλ στο Google Talk
Name[es]=Formato de estilo de Google Talk
Name[et]=Google Talki stiilis vormindamine
Name[hu]=Google Talk stílusú formázás
Name[it]=Formattazione del testo stile Google Talk
Name[lt]=Google Talk stiliaus formatas
Name[nb]=Formatering som i Google Talk
Name[nl]=Opmaak in de stijl van Google Talk
Name[pl]=Formatowanie w stylu Google Talk
Name[pt]=Formatação ao Estilo do Google Talk
Name[pt_BR]=Formatação no estilo do Google-Talk
Name[sk]=Formátovanie štýlom Google Talk
Name[sv]=Formatering enligt Google-talk
Name[uk]=Форматування у стилі Google-Talk
Name[x-test]=xxGoogle Talk Style Formattingxx
Name[zh_CN]=Google Talk 样式的格式
Comment=Use _, * and - to make text italic, bold or strikeout respectively
Comment[cs]=Použít _, * a - pro kurzívu, tučný a přeškrtnutý text
Comment[da]=Brug _, * og - til at lave hhv. kursiv, fed eller overstreget
Comment[el]=Χρησιμοποιήστε _, * και - για πλάγιους, έντονους ή με επιγράμμιση χαρακτήρες αντίστοιχα
Comment[es]=Utilice _, * y - para poner el texto en cursiva, negrita o tachado respectivamente
Comment[et]=_, * ja - kasutamine teksti muutmiseks kaldkirja, rasvaseks või läbikriipsutatuks
Comment[hu]=Az _, * és - használatával teheti a szöveget döntötté, félkövérré vagy áthúzottá
Comment[it]=Usa _, * e - per rendere il testo rispettivamente corsivo, grassetto o barrato
Comment[nb]=Bruk  _,* og – for å gjøre teksten henholdsvis understreket, halvfet eller overstreket
Comment[nl]=Gebruik _, * en - om tekst respectievelijk cursief, vet of doorgestreept te maken
Comment[pl]=Użyj odpowiednio _, * i - aby tekst był napisany kursywą, pogrubiony lub przekreślony
Comment[pt]=Usar o '_', '*' e '-' para tornar o texto itálico, negrito ou traçado, respectivamente
Comment[pt_BR]=Use _, * e - para tornar o texto em itálico, negrito ou tachado, respectivamente
Comment[sk]=Použite _, * a - na zmenu textu na kurzívu, tučné alebo prečiarknuté
Comment[sv]=Använd _, * och - för att antingen visa texten kursiv, understruken, eller överstruken
Comment[uk]=Використовувати _, * і - для курсиву, напівжирного та перекресленого тексту, відповідно
Comment[x-test]=xxUse _, * and - to make text italic, bold or strikeout respectivelyxx
Comment[zh_CN]=使用 _、* 和 - 来使文本变为斜体、粗体或删除线
Type=Service
ServiceTypes=KTpTextUi/MessageFilter
X-KDE-Library=ktptextui_message_filter_formatting
X-KDE-PluginInfo-Author=KDE Telepathy Developers
X-KDE-PluginInfo-Email=kde-telepathy@kde.org
X-KDE-PluginInfo-Name=formatting
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://community.kde.org/KTp
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KTp-PluginInfo-Version=2
