[Desktop Entry]
Icon=tab-duplicate
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_chat_behavior
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=Chat Tab Behavior
Name[ar]=سلوك لسان الدّردشة
Name[bs]=Ponašanje kartice za ćaskanje
Name[ca]=Comportament de la pestanya de xat
Name[ca@valencia]=Comportament de la pestanya de xat
Name[cs]=Chování karet rozhovoru
Name[da]=Opførsel af chatfaneblade
Name[de]=Verhalten von Chat-Unterfenstern
Name[el]=Συμπεριφορά καρτέλας συνομιλίας
Name[en_GB]=Chat Tab Behaviour
Name[es]=Comportamiento de la pestaña de charla
Name[et]=Vestluskaardi käitumine
Name[eu]=Berriketa fitxen jokabidea
Name[fi]=Keskusteluvälilehden toiminta
Name[fr]=Comportement des onglets de conversation
Name[gl]=Comportamento do separador de conversas
Name[hu]=A csevegőlap működése
Name[ia]=Comportamento de scheda de conversation
Name[it]=Comportamento della scheda della chat
Name[ka]=ჩატის ჩანართის ქცევა
Name[kk]=Чат қойындының тәртібі
Name[km]=ផ្ទាំង​ជជែក
Name[ko]=대화 탭 행동
Name[lt]=Pokalbio kortelės elgsena
Name[nb]=Oppførsel for pratefane
Name[nds]=Klöönpaneel-Bedregen
Name[nl]=Gedrag van tabblad Chat
Name[nn]=Åtferd for pratefane
Name[pa]=ਗੱਲਬਾਤ ਟੈਬ ਰਵੱਈਆ
Name[pl]=Zachowanie karty rozmowy
Name[pt]=Comportamento da Página de Conversação
Name[pt_BR]=Comportamento da aba de conversas
Name[ro]=Comportamentul filelor de discuție
Name[ru]=Поведение вкладок общения
Name[sk]=Správanie karty rozhovoru
Name[sl]=Obnašanje zavihkov klepeta
Name[sr]=Понашање језичка ћаскања
Name[sr@ijekavian]=Понашање језичка ћаскања
Name[sr@ijekavianlatin]=Ponašanje jezička ćaskanja
Name[sr@latin]=Ponašanje jezička ćaskanja
Name[sv]=Chattflikens beteende
Name[tr]=Sohbet Sekme Davranışı
Name[uk]=Поведінка вкладок спілкування
Name[wa]=Dujhance des linwetes di berdelaedje
Name[x-test]=xxChat Tab Behaviorxx
Name[zh_CN]=聊天标签行为
Name[zh_TW]=聊天分頁行為
