[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ktptextui_message_filter_latex
X-KDE-ParentApp=latex
X-KDE-ParentComponents=latex

Name=LaTeX
Name[ar]=لاتخ
Name[bs]=LaTeX
Name[ca]=LaTeX
Name[ca@valencia]=LaTeX
Name[cs]=LaTeX
Name[da]=LaTeX
Name[de]=LaTeX
Name[el]=LaTeX
Name[en_GB]=LaTeX
Name[eo]=LaTeX
Name[es]=LaTeX
Name[et]=LaTeX
Name[eu]=LaTeX
Name[fi]=LaTeX
Name[fr]=LaTeX
Name[gl]=LaTeX
Name[hu]=LaTeX
Name[ia]=LaTeX
Name[it]=LaTeX
Name[ka]=LaTeX
Name[kk]=LaTeX
Name[ko]=LaTeX
Name[lt]=LaTeX
Name[nb]=LaTeX
Name[nds]=LaTeX
Name[nl]=LaTeX
Name[nn]=LaTeX
Name[pa]=LaTeX
Name[pl]=LaTeX
Name[pt]=LaTeX
Name[pt_BR]=LaTeX
Name[ro]=LaTeX
Name[ru]=LaTeX
Name[sk]=LaTeX
Name[sl]=LaTeX
Name[sr]=Латех
Name[sr@ijekavian]=Латех
Name[sr@ijekavianlatin]=LaTeX
Name[sr@latin]=LaTeX
Name[sv]=Latex
Name[tr]=LaTeX
Name[ug]=LaTeX
Name[uk]=LaTeX
Name[x-test]=xxLaTeXxx
Name[zh_CN]=LaTeX
Name[zh_TW]=LaTeX
