[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ktptextui_message_filter_latex
X-KDE-ParentApp=latex
X-KDE-ParentComponents=latex

Name=LaTeX
