[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ktptextui_message_filter_latex
X-KDE-ParentApp=latex
X-KDE-ParentComponents=latex

Name=LaTeX
Name[cs]=LaTeX
Name[el]=LaTeX
Name[es]=LaTeX
Name[hu]=LaTeX
Name[it]=LaTeX
Name[kk]=LaTeX
Name[nl]=LaTeX
Name[pt]=LaTeX
Name[pt_BR]=LaTeX
Name[sv]=Latex
Name[uk]=LaTeX
Name[x-test]=xxLaTeXxx
