[Desktop Entry]
Encoding=UTF-8
Name=Latex Renderer
Comment=If incomming messages contain latex between $$, it will render it directly into the chat.
Name=Latex
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_latex
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=latex
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KTp-PluginInfo-Version=3
