[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpTextUi/MessageFilter
Comment=Telepathy Text-Ui Message Filter

# The ktp-text-ui plugin framework version for which the plugin is written
[PropertyDef::X-KTp-PluginInfo-Version]
Type=int
