[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpTextUi/MessageFilter
Comment=Telepathy Text-Ui Message Filter
Comment[hu]=Telepathy üzenetszűrő
Comment[nl]=Tekstinterface voor het berichtenfilter van Telepathy
Comment[pt]=Filtro de Mensagens da Interface de Texto do Telepathy
Comment[sk]=Filter správ Telepathy Text-Ui
Comment[sv]=Telepathy meddelandefilter för textbaserat användargränssnitt
Comment[uk]=Фільтр повідомлень текстового інтерфейсу Telepathy
Comment[x-test]=xxTelepathy Text-Ui Message Filterxx
