[Desktop Entry]
Name=Image Preview
Name[it]=Anteprima di immagini
Name[pt_BR]=Visualização de imagem
Name[uk]=Перегляд зображення
Name[x-test]=xxImage Previewxx
Encoding=UTF-8
Comment=Embed a thumbnail of any image URL sent in a chat
Comment[it]=Include miniature degli URL di immagini inviati in una chat
Comment[pt_BR]=Inserir uma miniatura de qualquer URL de imagem enviada em um bate-papo
Comment[uk]=Вбудовувати мініатюри для всіх адрес зображень, надісланих під час спілкування
Comment[x-test]=xxEmbed a thumbnail of any image URL sent in a chatxx
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_images
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=images
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
