[Desktop Entry]
Name=Image Preview
Name[ca]=Vista prèvia d'imatge
Name[cs]=Náhled obrázku
Name[el]=Προεπισκόπηση εικόνας
Name[es]=Vista previa de imagen
Name[fi]=Kuvan esikatselu
Name[it]=Anteprima di immagini
Name[nl]=Afbeeldingsvoorbeeld
Name[pt]=Antevisão da Imagem
Name[pt_BR]=Visualização de imagem
Name[sk]=Náhľad obrázka
Name[sr]=Преглед слике
Name[sr@ijekavian]=Преглед слике
Name[sr@ijekavianlatin]=Pregled slike
Name[sr@latin]=Pregled slike
Name[sv]=Förhandsgranskning av bild
Name[uk]=Перегляд зображення
Name[x-test]=xxImage Previewxx
Encoding=UTF-8
Comment=Embed a thumbnail of any image URL sent in a chat
Comment[ca]=Incrusta una miniatura de qualsevol URL d'imatge enviada al xat
Comment[cs]=Vložit náhled všem URL obrázků odeslaných do rozhovoru
Comment[el]=Ενσωματώστε μια επισκόπηση οποιουδήποτε URL εικόνας που εστάλη σε συνομιλία
Comment[es]=Empotrar una miniatura de cualquier URL de imagen enviado en un chat
Comment[fi]=Upota esikatselu chattiin lähetetyistä kuvaosoitteista
Comment[it]=Include miniature degli URL di immagini inviati in una chat
Comment[nl]=Een miniatuur van elke verzonden URL van een afbeelding inbedden in een chat
Comment[pt]=Incorporar uma miniatura de qualquer URL de imagens enviado numa conversa
Comment[pt_BR]=Inserir uma miniatura de qualquer URL de imagem enviada em um bate-papo
Comment[sk]=Zahrnúť náhľad každej URL poslanej v rozhovore
Comment[sr]=Угнежђена сличица било којег УРЛ‑а слике у ћаскању
Comment[sr@ijekavian]=Угнежђена сличица било којег УРЛ‑а слике у ћаскању
Comment[sr@ijekavianlatin]=Ugnežđena sličica bilo kojeg URL‑a slike u ćaskanju
Comment[sr@latin]=Ugnežđena sličica bilo kojeg URL‑a slike u ćaskanju
Comment[sv]=Inbädda en miniatyrbild av alla webbadresser med bilder som skickas i en chatt
Comment[uk]=Вбудовувати мініатюри для всіх адрес зображень, надісланих під час спілкування
Comment[x-test]=xxEmbed a thumbnail of any image URL sent in a chatxx
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_images
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=images
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
