[Desktop Entry]
Type=Service
Icon=mail-encrypt
StartupNotify=true
Terminal=false
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_chat_otr
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Comment=Encrypt chat sessions with Off-The-Record encryption
Name=OTR

