[Desktop Entry]
Icon=preferences-desktop-theme
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_telepathy_chat_config
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=Chat Window Appearance
Comment=Choose a Style for your Chat Window and customize it
