[Desktop Entry]
Name=Plugins
Name[bs]=Dodaci
Name[ca]=Connectors
Name[cs]=Moduly
Name[da]=Plugins
Name[de]=Module
Name[el]=Πρόσθετα
Name[es]=Complementos
Name[et]=Pluginad
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[gl]=Engadidos
Name[hu]=Bővítmények
Name[it]=Estensioni
Name[kk]=Плагиндер
Name[lt]=Papildiniai
Name[nb]=Programtillegg
Name[nl]=Plug-ins
Name[nn]=Programtillegg
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[se]=Lassemoduvllat
Name[sk]=Pluginy
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[uk]=Додатки
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Type=Service
Exec=kcmshell4 kcm_ktp_message_filters
Comment=How to deal with extra information obtained from messages
Comment[bs]=Kako raditi s dodatnim informacijama koje se dobijaju od poruka
Comment[ca]=Com tractar la informació extra obtinguda dels missatges
Comment[cs]=Jak se vypořádat s extra informacemi obdrženými ze zpráv
Comment[da]=Hvordan ekstra information fra beskeder skal håndteres
Comment[de]=Verarbeitung zusätzlicher Information von Nachrichten
Comment[el]=Πώς να χειριστείτε επιπλέον πληροφορίες που αποκτήθηκαν από μηνύματα
Comment[es]=Como tratar la información extra obtenida de los mensajes
Comment[et]=Kuidas käsitleda sõnumitest saadavat lisateavet
Comment[fi]=Miten viesteistä saadut lisätiedot käsitellään
Comment[fr]=Comment traiter les informations complémentaires obtenues depuis des messages
Comment[gl]=Como xestionar a información adicional que se obtén das mensaxes
Comment[hu]=Hogyan kezelje az üzenetekből kapott extra információkat
Comment[it]=Come gestire le informazioni aggiuntive ricavate dai messaggi
Comment[kk]=Хабарламадан қосымша мәліметімен не істеу керек
Comment[nb]=Hvordan ekstra informasjon fra meldinger skal behandles
Comment[nl]=Hoe te handelen met extra informatie verkregen uit berichten
Comment[pl]=Sposób radzenia sobie z dodatkowymi informacjami uzyskanymi z wiadomości
Comment[pt]=Como lidar com a informação extra obtida das mensagens
Comment[pt_BR]=Como lidar com informações adicionais obtidas a partir de mensagens
Comment[ro]=Cum să procedați cu informațiile suplimentare obținute din mesaje
Comment[sk]=Ako sa vysporiadať s dodatočnými informáciami získanými zo správ
Comment[sl]=Kako ravnati z dodatnimi podatki, ki jih vsebujejo sporočila
Comment[sr]=Како обрадити допунске податке добијене уз поруке
Comment[sr@ijekavian]=Како обрадити допунске податке добијене уз поруке
Comment[sr@ijekavianlatin]=Kako obraditi dopunske podatke dobijene uz poruke
Comment[sr@latin]=Kako obraditi dopunske podatke dobijene uz poruke
Comment[sv]=Hur extra information som erhålls från meddelande ska hanteras
Comment[uk]=Спосіб обробки додаткових даних, отриманих з повідомленнями
Comment[x-test]=xxHow to deal with extra information obtained from messagesxx
Comment[zh_CN]=处理消息中获得的额外信息
Comment[zh_TW]=如何處理訊息中的額外資訊
Icon=preferences-plugin

X-KDE-Library=kcm_ktp_chat_messages
X-KDE-ServiceTypes=KCModule
X-KDE-HasReadOnlyMode=false
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

