[Desktop Entry]
Icon=tab-duplicate
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_telepathy_chat_behavior_config
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=Chat Tab Behavior
Name[it]=Comportamento della scheda della chat
Name[sv]=Chattflikens beteende
Name[uk]=Поведінка вкладок спілкування
Name[x-test]=xxChat Tab Behaviorxx
