[Desktop Entry]
Icon=tab-duplicate
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_chat_behavior
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=Chat Tab Behavior
Name[cs]=Chování karet rozhovoru
Name[da]=Opførsel af chatfaneblade
Name[de]=Verhalten von Chat-Unterfenstern
Name[es]=Comportamiento de la pestaña de charla
Name[fr]=Comportement de l'onglet de discussion
Name[hu]=A csevegőlap működése
Name[it]=Comportamento della scheda della chat
Name[nds]=Bedregen vun Klöönpaneels
Name[nl]=Gedrag van tabblad Chat
Name[pt]=Comportamento da Página de Conversação
Name[pt_BR]=Comportamento da aba de bate-papo
Name[sv]=Chattflikens beteende
Name[uk]=Поведінка вкладок спілкування
Name[x-test]=xxChat Tab Behaviorxx
Name[zh_TW]=聊天分頁行為
