[Desktop Entry]
Name=Plugins
Type=Service
Exec=kcmshell4 kcm_ktp_message_filters
Comment=How to deal with extra information obtained from messages
Icon=preferences-plugin

X-KDE-Library=kcm_ktp_chat_messages
X-KDE-ServiceTypes=KCModule
X-KDE-HasReadOnlyMode=false
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

