[Desktop Entry]
Name=KDE IM Log Viewer
Name[bs]=Pregledač dnevnika za KDE IM Log
Name[ca]=Visor del registre de MI del KDE
Name[cs]=Prohlížeč záznamů KDE IM
Name[da]=Fremviser til IM-logge fra KDE
Name[de]=Instant-Messenger-Protokollbetrachter
Name[el]=KDE IM Log Viewer
Name[es]=Visor de registros de MI de KDE
Name[et]=KDE kiirsuhtluse loginäitaja
Name[fi]=KDE-pikaviestimen lokikatselin
Name[fr]=Afficheur de journaux de MI de KDE
Name[gl]=Visor do rexistro de MI de KDE
Name[hu]=KDE üzenetküldő - Naplómegjelenítő
Name[ia]=Visor de registro de KDE IM
Name[it]=Visore registri del sistema MI di KDE
Name[kk]=KDE хабарласу журналын қарау
Name[lt]=KDE IM žurnalo žiūryklė
Name[nb]=KDE LM loggviser
Name[nl]=KDE viewer voor IM-log
Name[pl]=Przeglądarka dzienników KI KDE
Name[pt]=Visualizador dos Registos de MI do KDE
Name[pt_BR]=Visualizador dos registros de MI do KDE
Name[ro]=Vizualizator de jurnale pentru MI KDE
Name[ru]=Просмотр журнала общения в KDE
Name[sk]=Prehliadač záznamu KDE IM
Name[sl]=Pregledovalnik dnevnikov za hipno sporočanje za KDE
Name[sr]=Приказивач КДЕ ИМ дневника
Name[sr@ijekavian]=Приказивач КДЕ ИМ дневника
Name[sr@ijekavianlatin]=Prikazivač KDE IM dnevnika
Name[sr@latin]=Prikazivač KDE IM dnevnika
Name[sv]=KDE-loggvisning för direktmeddelanden
Name[uk]=Програма для перегляду журналів спілкування у KDE
Name[x-test]=xxKDE IM Log Viewerxx
Name[zh_CN]=KDE 即时通讯日志查看程序
Name[zh_TW]=KDE 即時訊息紀錄檢視器
GenericName=KDE Instant Messenger Log Viewer
GenericName[bs]=Pregledač dnevnika za KDE instant poruke
GenericName[ca]=Visor del registre de missatgeria instantània del KDE
GenericName[cs]=Prohlížeč záznamů komunikátoru KDE
GenericName[da]=Fremviser til instant messenger logge fra KDE
GenericName[de]=KDE-Betrachter für Instant-Messenger-Protokolle
GenericName[el]=KDE Instant Messenger Log Viewer
GenericName[es]=Visor de registros de mensajería instantánea de KDE
GenericName[et]=KDE kiirsuhtluse loginäitaja
GenericName[fi]=KDE-pikaviestimen lokikatselin
GenericName[fr]=Afficheur de journaux de messagerie instantanée de KDE
GenericName[gl]=Visor do rexistro de mensaxería instantánea de KDE
GenericName[hu]=KDE azonnali üzenetküldő - Naplómegjelenítő
GenericName[ia]=Visor de registro de messaggero instantanee de KDE
GenericName[it]=Visore registri del sistema di messaggistica istantanea di KDE
GenericName[kk]=KDE лезде хабарласу бағдарламасының журналын қарау
GenericName[lt]=KDE pokalbių žurnalo žiūryklė
GenericName[nb]=KDE Loggviser for lynmeldingsprogram
GenericName[nl]=KDE viewer voor Instant Messenger-log
GenericName[pl]=Przeglądarka dzienników komunikatora internetowego KDE
GenericName[pt]=Visualizador de Registos de Mensagens Instantâneas do KDE
GenericName[pt_BR]=Visualizador de registros de mensagens instantâneas do KDE
GenericName[ro]=Vizualizator de jurnale pentru mesageria instantanee KDE
GenericName[ru]=Просмотр журнала обмена мгновенными сообщениями в KDE
GenericName[sk]=Prehliadač záznamu KDE instant messengera
GenericName[sl]=Pregledovalnik dnevnikov za hipni sporočilnik za KDE
GenericName[sr]=Приказивач КДЕ брзогласничког дневника
GenericName[sr@ijekavian]=Приказивач КДЕ брзогласничког дневника
GenericName[sr@ijekavianlatin]=Prikazivač KDE brzoglasničkog dnevnika
GenericName[sr@latin]=Prikazivač KDE brzoglasničkog dnevnika
GenericName[sv]=KDE-loggvisning för direktmeddelanden
GenericName[uk]=Програма для перегляду журналів спілкування у KDE
GenericName[x-test]=xxKDE Instant Messenger Log Viewerxx
GenericName[zh_CN]=KDE 即时通讯日志查看程序
GenericName[zh_TW]=KDE 的即時訊息紀錄檢視器
Comment=Displays your KDE Instant Messenger logs
Comment[bs]=Prikazuje Vaše KDE Instant Messenger dnevnike
Comment[ca]=Mostra el registre de missatgeria instantània del KDE
Comment[cs]=Zobrazuje vaše záznamy komunikátoru KDE
Comment[da]=Viser dine instant messaging-logge fra KDE
Comment[de]=Zeigt Ihre Instalt-Messenger-Protokolle an
Comment[el]=Εμφανίζει τις καταγραφές της εφαρμογής στιγμιαίων μηνυμάτων του KDE
Comment[es]=Muestra sus registros de mensajería instantánea de KDE
Comment[et]=KDE kiirsuhtluse logide näitamine
Comment[fi]=Näyttää KDE-pikaviestimen lokit
Comment[fr]=Affiche vos journaux de messagerie instantanée KDE
Comment[gl]=Mostra os teus rexistros de mensaxería instantánea de KDE
Comment[hu]=Megjeleníti a KDE azonnali üzenetküldő naplóit
Comment[ia]=Monstra tu registros de Messaggero instantanee de KDE
Comment[it]=Mostra i registri del sistema di messaggistica di KDE
Comment[kk]=KDE лезде хабарласу журналдарын көрсету
Comment[lt]=Rodo Jūsų KDE tiesioginio pranešimo žurnalus
Comment[nb]=Viser loggene for ditt KDE lynmeldingsprogram
Comment[nl]=De logs van uw KDE Instant Messenger tonen
Comment[pl]=Wyświetla dzienniki twojego komunikatora internetowego KDE
Comment[pt]=Mostra os registos das suas mensagens instantâneas no KDE
Comment[pt_BR]=Mostra os registros das suas mensagens instantâneas no KDE
Comment[ro]=Afișează jurnalele de mesagerie instantanee KDE
Comment[ru]=Отображает историю вашей переписки сообщениями в KDE
Comment[sk]=Zobrazí vaše záznamy KDE instant messengera
Comment[sl]=Prikaže dnevnike vašega hipnega sporočilnika za KDE
Comment[sr]=Приказује ваше дневнике КДЕ брзог гласника
Comment[sr@ijekavian]=Приказује ваше дневнике КДЕ брзог гласника
Comment[sr@ijekavianlatin]=Prikazuje vaše dnevnike KDE brzog glasnika
Comment[sr@latin]=Prikazuje vaše dnevnike KDE brzog glasnika
Comment[sv]=Visar loggar för KDE:s direktmeddelanden
Comment[uk]=Показує журнали спілкування за допомогою програми для обміну повідомленнями KDE
Comment[x-test]=xxDisplays your KDE Instant Messenger logsxx
Comment[zh_CN]=显示您的 KDE 即时通讯日志
Comment[zh_TW]=顯示您 KDE 即時訊息紀錄
Exec=ktp-log-viewer %u
Type=Application
Terminal=false
Icon=documentation
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
