[Desktop Entry]
Name=KDE IM Log Viewer
Name[ca]=Visor del registre de MI del KDE
Name[da]=Fremviser til IM-logge fra KDE
Name[de]=Instant-Messenger-Protokollbetrachter
Name[et]=KDE kiirsuihtluse loginäitaja
Name[fr]=Afficheur de journaux de messagerie instantanée de KDE
Name[hu]=KDE üzenetküldő - Naplómegjelenítő
Name[it]=Visore registri del sistema MI di KDE
Name[nl]=KDE viewer voor IM-log
Name[pl]=Przeglądarka dziennika KI KDE
Name[pt]=Visualizador dos Registos de MI do KDE
Name[pt_BR]=Visualizador dos registros de MI do KDE
Name[sk]=Prehliadač záznamu KDE IM
Name[sv]=KDE-loggvisning för direktmeddelanden
Name[uk]=Програма для перегляду журналів спілкування у KDE
Name[x-test]=xxKDE IM Log Viewerxx
Name[zh_CN]=KDE 即时通讯日志查看程序
Name[zh_TW]=KDE 即時訊息紀錄檢視器
GenericName=KDE Instant Messenger Log Viewer
GenericName[ca]=Visor del registre de missatgeria instantània del KDE
GenericName[da]=Fremviser til instant messenger logge fra KDE
GenericName[de]=KDE-Betrachter für Instant-Messenger-Protokolle
GenericName[fr]=Afficheur de journaux de messagerie instantanée de KDE
GenericName[hu]=KDE azonnali üzenetküldő - Naplómegjelenítő
GenericName[it]=Visore registri del sistema di messaggistica istantanea di KDE
GenericName[nl]=KDE viewer voor Instant Messenger-log
GenericName[pl]=Przeglądarka dziennika komunikatora internetowego KDE
GenericName[pt]=Visualizador de Registos de Mensagens Instantâneas do KDE
GenericName[pt_BR]=Visualizador de registros de mensagens instantâneas do KDE
GenericName[sk]=Prehliadač záznamu KDE instant messengera
GenericName[sv]=KDE-loggvisning för direktmeddelanden
GenericName[uk]=Програма для перегляду журналів спілкування у KDE
GenericName[x-test]=xxKDE Instant Messenger Log Viewerxx
GenericName[zh_CN]=KDE 即时通讯日志查看程序
GenericName[zh_TW]=KDE 的即時訊息紀錄檢視器
Comment=Displays your KDE Instant Messenger logs
Comment[ca]=Mostra el registre de missatgeria instantània del KDE
Comment[da]=Viser dine instant messaging-logge fra KDE
Comment[de]=Zeigt Ihre Instalt-Messenger-Protokolle an
Comment[et]=KDE kiirsuhtluse logide näitamine
Comment[fr]=Affiche vos journaux de messagerie instantanée KDE
Comment[hu]=Megjeleníti a KDE azonnali üzenetküldő naplóit
Comment[it]=Mostra i registri del sistema di messaggistica di KDE
Comment[nl]=De logs van uw KDE Instant Messenger tonen
Comment[pl]=Wyświetla dzienniki twojego komunikatora internetowego KDE
Comment[pt]=Mostra os registos das suas mensagens instantâneas no KDE
Comment[pt_BR]=Mostra os registros das suas mensagens instantâneas no KDE
Comment[sk]=Zobrazí vaše záznamy KDE instant messengera
Comment[sv]=Visar loggar för KDE:s direktmeddelanden
Comment[uk]=Показує журнали спілкування за допомогою програми для обміну повідомленнями KDE
Comment[x-test]=xxDisplays your KDE Instant Messenger logsxx
Comment[zh_CN]=显示您的 KDE 即时通讯日志
Comment[zh_TW]=顯示您 KDE 即時訊息紀錄
Exec=ktp-log-viewer %u
Type=Application
Terminal=false
Icon=documentation
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
