[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_highlight
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=highlight
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=http://community.kde.org/KTp
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KTp-PluginInfo-Version=2

Name=Highlight
Name[da]=Fremhævning
Name[de]=Hervorhebung
Name[el]=Τονισμός
Name[et]=Esiletõstmine
Name[it]=Evidenziazione
Name[nb]=Marker
Name[nl]=Accentueren
Name[nn]=Markert melding
Name[pt]=Realce
Name[pt_BR]=Realce
Name[se]=Merke
Name[sl]=Poudari
Name[sr]=Истицање
Name[sr@ijekavian]=Истицање
Name[sr@ijekavianlatin]=Isticanje
Name[sr@latin]=Isticanje
Name[sv]=Färglägg
Name[tr]=Vurgula
Name[ug]=يورۇت
Name[uk]=Підсвічування
Name[x-test]=xxHighlightxx
Comment=If any incoming messages contain your nickname, it will highlight them in red
Comment[el]=Τα εισερχόμενα μηνύματα που περιέχουν το ψευδώνυμό σας, θα τονίζονται με κόκκινο
Comment[it]=Se in un messaggio ricevuto c'è scritto il tuo nick, sarà evidenziato in rosso
Comment[nl]=Als een inkomend bericht uw schermnaam bevat, zal deze in rood geaccentueerd worden
Comment[pt]=Se alguma das mensagens recebidas tiver a sua alcunha, as mesmas ficarão realçadas a vermelho
Comment[pt_BR]=Se alguma mensagem recebida conter o seu apelido, ela será realçada em vermelho
Comment[sl]=Če bo katerokoli dohodno sporočilo vsebovalo vaš vzdevek, bo poudarjeno z rdečo
Comment[sr]=Када долазна порука садржи ваш надимак, биће истакнут црвеним
Comment[sr@ijekavian]=Када долазна порука садржи ваш надимак, биће истакнут црвеним
Comment[sr@ijekavianlatin]=Kada dolazna poruka sadrži vaš nadimak, biće istaknut crvenim
Comment[sr@latin]=Kada dolazna poruka sadrži vaš nadimak, biće istaknut crvenim
Comment[sv]=Om några inkommande meddelanden innehåller ditt smeknamn, färgläggs de med rött.
Comment[tr]=Eğer takma adınızı içeren bir gelen ileti varsa, kırmızı olarak vurgulanacak
Comment[uk]=Якщо вхідне повідомлення міститиме ваш псевдонім, програма позначить таке повідомлення червоним кольором
Comment[x-test]=xxIf any incoming messages contain your nickname, it will highlight them in redxx
