
.x-outgoingItem .x-timeStamp
{
	color: #bdb410;
}

.x-outgoingItem .x-myBubble .x-indicator
{
	background: url("../images/yellowIndicator.png") no-repeat top left;
}

.x-outgoingItem .x-tableBubble .x-tl
{
	background: url("../images/yellowCurves.png") no-repeat top left;
}

.x-outgoingItem .x-tableBubble .x-tr
{
	background: url("../images/yellowCurves.png") no-repeat top right;
}

.x-outgoingItem .x-tableBubble .x-head
{
	background: url("../images/yellowCurves.png") no-repeat -10px 0;
}

.x-outgoingItem .x-tableBubble .x-message
{
	background: url("../images/yellowBackground.png") repeat-y top left;
}

.x-outgoingItem .x-tableBubble .x-messageRight
{
	background: url("../images/yellowBackground.png") repeat-y top right;
}

.x-outgoingItem .x-tableBubble .x-bl
{
	background: url("../images/yellowCurves.png") no-repeat bottom left;
}

.x-outgoingItem .x-tableBubble .x-br
{
	background: url("../images/yellowCurves.png") no-repeat bottom right;
}

.x-outgoingItem .x-followUp
{
	background-color: #f4f0a7;
	border-bottom: 1px solid #fff;
}
