[Desktop Entry]
Name=Text To Speech
Name[da]=Tekst-til-tale
Name[de]=Sprachausgabe
Name[el]=Μετατροπή κειμένου σε ομιλία
Name[et]=Teksti ettelugemine
Name[hu]=Szövegfelolvasó
Name[it]=Sintesi vocale
Name[nl]=Tekst-naar-spraak
Name[pt]=Texto para Fala
Name[pt_BR]=Sintetizador de voz
Name[sr]=Текст у говор
Name[sr@ijekavian]=Текст у говор
Name[sr@ijekavianlatin]=Tekst u govor
Name[sr@latin]=Tekst u govor
Name[sv]=Text till tal
Name[uk]=Синтез мовлення з тексту
Name[x-test]=xxText To Speechxx
Name[zh_CN]=文本到语音
Encoding=UTF-8
Comment=Read out incoming messages using text-to-speech service
Comment[da]=Læs indkommende beskeder op med tekst-til-tale-tjenesten
Comment[el]=Ανάγνωση εισερχόμενων μηνυμάτων με χρήση υπηρεσίας μετατροπή-κειμένου-σε-ομιλία
Comment[et]=Sisenevate sõnumite ettelugemine teksti ettelugemise teenuse abil
Comment[hu]=Bejövő üzenetek felolvasása a szövegfelolvasó szolgáltatás használatával
Comment[it]=Leggi i messaggi in arrivo usando il servizio di sintesi vocale
Comment[nl]=Spreek het inkomende bericht uit met de tekst-tot-spraak-dienst
Comment[pt]=Ler as mensagens recebidas com o serviço de texto-para-fala
Comment[pt_BR]=Ler as mensagens recebidas usando o serviço de sintetizador de voz
Comment[sr]=Ишчитава долазне поруке преко сервиса за текст‑у‑говор
Comment[sr@ijekavian]=Ишчитава долазне поруке преко сервиса за текст‑у‑говор
Comment[sr@ijekavianlatin]=Iščitava dolazne poruke preko servisa za tekst‑u‑govor
Comment[sr@latin]=Iščitava dolazne poruke preko servisa za tekst‑u‑govor
Comment[sv]=Läs upp inkommande meddelande med text-till-tal-tjänsten
Comment[uk]=Читати вхідні повідомлення за допомогою служби синтезу мовлення з тексту
Comment[x-test]=xxRead out incoming messages using text-to-speech servicexx
Comment[zh_CN]=使用语音合成服务来朗读收到的消息
Type=Service
ServiceTypes=KTpTextUi/MessageFilter
X-KDE-Library=ktptextui_message_filter_tts
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=davidedmundson@kde.org
X-KDE-PluginInfo-Name=tts
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
