[Desktop Entry]
Icon=tab-duplicate
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_logviewer_behavior
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=LogViewer Behavior
Name[ar]=سلوك عارض السّجلّات
Name[ast]=Comportamientu del visor de rexistros
Name[bs]=Ponašanje preglednika dnevnika
Name[ca]=Comportament del visor del registre
Name[ca@valencia]=Comportament del visor del registre
Name[cs]=Chování prohlížeče záznamů
Name[da]=Logfremviserens opførsel
Name[de]=Verhalten des Protokollbetrachters
Name[el]=Συμπεριφορά ΠροβολέαΚαταγραφών
Name[en_GB]=LogViewer Behavior
Name[es]=Comportamiento del visor de registros
Name[et]=Loginäitaja käitumine
Name[fi]=Lokikatselimen toiminta
Name[fr]=Comportement de l'afficheur du journal
Name[gl]=Comportamento de LogViewer
Name[hu]=Naplómegjelenítő viselkedése
Name[ia]=Comportamento de LogViewer
Name[it]=Comportamento del visore registri
Name[kk]=Журналды қарау құрал тәртібі
Name[ko]=로그 뷰어 행동
Name[nb]=Loggviser-oppførsel
Name[nds]=Logbookkieker-Bedregen
Name[nl]=Gedrag van logviewer
Name[pl]=Zachowanie przeglądarki dziennika
Name[pt]=Comportamento do Visualizador de Registos
Name[pt_BR]=Comportamento do visualizador de registros
Name[ru]=Поведения просмотрщика журналов
Name[sk]=Správanie LogViewer
Name[sl]=Obnašanje pregledovalnika dnevnikov
Name[sr]=Понашање приказивача дневника
Name[sr@ijekavian]=Понашање приказивача дневника
Name[sr@ijekavianlatin]=Ponašanje prikazivača dnevnika
Name[sr@latin]=Ponašanje prikazivača dnevnika
Name[sv]=Loggvisningens beteende
Name[tr]=LogGörüntüleyici Davranışı
Name[uk]=Поведінка засобу перегляду журналу
Name[x-test]=xxLogViewer Behaviorxx
Name[zh_CN]=日志查看器行为
Name[zh_TW]=紀錄檢視器行為
