[Desktop Entry]
Icon=tab-duplicate
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_ktp_logviewer_behavior
X-KDE-SubstituteUID=false
X-KDE-RootOnly=false
Categories=Qt;KDE;X-KDE-settings-network;

Name=LogViewer Behavior
Name[pt]=Comportamento do Visualizador de Registos
Name[pt_BR]=Comportamento do visualizador de registros
Name[sv]=Loggvisningens beteende
Name[uk]=Поведінка засобу перегляду журналу
Name[x-test]=xxLogViewer Behaviorxx
