[Desktop Entry]
Name=Web Shortcuts
Name[ca]=Dreceres web
Name[cs]=Webové zkratky
Name[da]=Webgenveje
Name[de]=Webkürzel
Name[el]=Συντομεύσεις ιστού
Name[es]=Accesos rápidos a la web
Name[et]=Veebikiirkorraldused
Name[fr]=Raccourcis web
Name[ga]=Aicearraí Gréasáin
Name[hu]=Keresőazonosítók
Name[it]=Scorciatoie web
Name[nb]=Nettsnarveier
Name[nl]=Webkoppelingen
Name[nn]=Vevsnarvegar
Name[pt]=Atalhos Web
Name[pt_BR]=Atalhos da Internet
Name[se]=Fierpmádatlávkestagat
Name[sk]=Webové skratky
Name[sr]=Веб пречице
Name[sr@ijekavian]=Веб пречице
Name[sr@ijekavianlatin]=Veb prečice
Name[sr@latin]=Veb prečice
Name[sv]=Webbgenvägar
Name[uk]=Вебскорочення
Name[x-test]=xxWeb Shortcutsxx
Name[zh_CN]=网页快捷方式
Encoding=UTF-8
Type=Service
# Comment=
ServiceTypes=KTpTextUi/MessageFilter

X-KDE-Library=ktptextui_message_filter_searchexpansion
X-KDE-PluginInfo-Author=Lasath Fernando
X-KDE-PluginInfo-Email=kde@lasath.org
X-KDE-PluginInfo-Name=searchexpansion
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://community.kde.org/Real-Time_Communication_and_Collaboration
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
